<div class="container">
    <div class="header">
        <img src="/assets/images/logo-1.png" alt="">
    </div>
    <div class="mainSection">
        <div class="enteties">
            <div class="naturalPerson card">
                <img src="/assets/images/card1.jpg" alt="">
                <div class="cardContent">
                    <div class="cardContentTitle">
                        <h6><span>RAIFFEISEN ONLINE</span></h6>
                        <h1>Fizička lica</h1>
                        <h5>Prijava za registrovane korisnike elektronskog bankarstva.</h5>
                    </div>
                         <p>
                            Ukoliko još niste korisnik, pozivamo Vas da posetite najbližu ekspozituru Raiffeisen
                            banke i postanete korisnik besplatnih usluga elektronskih servisa.
                        </p>
                        <button routerLink="/Login">PRIJAVA NA SISTEM</button>
                        
                </div>
                
            </div>
            <div class="legalPerson card">
                <img src="/assets/images/card2.jpg" alt="">
                <div class="cardContent">
                    <div class="cardContentTitle">
                        <h6><span>RAIFFEISEN ONLINE</span></h6>
                        <h1>Pravna lica</h1>
                        <h5>Prijava za registrovane korisnike elektronskog bankarstva za pravna lica.</h5>
                    </div>
                         <p>
                            Ukoliko još niste korisnik, pozivamo Vas da posetite najbližu ekspozituru Raiffeisen
                            banke ili kontaktirate Vašeg saradnika za poslove sa privredom.
                        </p>
                        
                        <button>PRIJAVA NA SISTEM</button>
                        
                        
                </div>
            </div>
        </div>
    </div>
    <div class="moreInformation">
        <div class="moreInformationTitle">
            <h1>Pronađite nešto za sebe...</h1>
        </div>
        <div class="triangle">
            
        </div>
       
    </div>
    <div class="services">
        <div class="serviceCard1 serviceCard">
            <div class="serviceCardWrap">
                <div class="serviceCardWrapImage">
                    <img src="/assets/images/service-1.jpg" alt="">
                </div>
                <div class="serviceCardWrapText">
                    <div>
                        <div class="serviceCardWrapTextTitle">
                            <h6>Novi m-Banking</h6>
                        </div>
                        <div class="serviceCardWrapTextParagraph">
                            <p>
                                Zakoračite u budućnost mobilnog bankarstva, preuzmite novu mBanking aplikaciju Raiffeisen banke za Android i iOS uređaje.
                                <br>
                                <br>
                                Uz mobilnu aplikaciju Moja mBanka koristite bankovne usluge svakodnevno na udoban i bezbedan način, pristupajte računima i plaćajte bez provizije čak i dok ste u pokretu.
                            </p>
                        </div>
                        
                    </div>
                    <button><span>Saznajte više</span></button>
                </div>
            </div>
        </div>
        <div class="serviceCard2 serviceCard">
            <div class="serviceCardWrap">
                <div class="serviceCardWrapImage">
                    <img src="/assets/images/service-2.jpg" alt="">
                </div>
                <div class="serviceCardWrapText">
                    <div>
                        <div class="serviceCardWrapTextTitle">
                            <h6>iKeš kredit</h6>
                        </div>
                        <div class="serviceCardWrapTextParagraph">
                            <p>
                                Prvi 100% online keš kredit u Srbiji, za klijente Raiffeisen banke i one koji to nisu. Uz minimalnu dokumentaciju, video razgovor s agentom banke i elektronski potpis ovaj je kredit moguće u potpunosti realizovati online.
                                <br>
                                <br>
                                Prenos zarade nije obavezan, a ukoliko nemate račun u Raiffeisen banci, biće otvoren pre realizacije kredita i bez naknade održavanja u prvih 12 meseci.
                            </p>
                        </div>
                    </div>
                    <button><span>Prijavi se online</span></button>
                </div>
            </div>
        </div>
        <div class="serviceCard3 serviceCard">
            <div class="serviceCardWrap">
                <div class="serviceCardWrapImage">
                    <img src="/assets/images/service-3.jpg" alt="">
                </div>
                <div class="serviceCardWrapText">
                    <div>
                        <div class="serviceCardWrapTextTitle">
                            <h6>Ja sam REA</h6>
                        </div>
                        <div class="serviceCardWrapTextParagraph">
                            <p>
                                Digitalna asistentkinja koja radi na osnovu tehnologije bazirane na veštačkoj inteligenciji. Odgovara brzo i precizno na sva pitanja u vezi sa Raiffeisen bankom, 24 sata dnevno, 7 dana u nedelji, putem Vibera ili Fejsbuk mesendžera.
                                <br>
                                <br>
                                200.000 korisnika naših digitalnih servisa već zna zašto je Raiffeisen banka dve godine uzastopno proglašena za "Najbolju digitalnu banku u Srbiji". Saznajte i vi.
                            </p>
                        </div>
                    </div>
                    <button><span>Saznajte više</span></button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footerContent">
            <div class="footerFirstSection section">
                <div class="logo">
                    <img src="/assets/images/logo-2.png" alt="">
                </div>
                <div class="socials">
                    <img class="socialImg" src="/assets/images/facebook.png" alt="">
                    <img class="socialImg" src="/assets/images/twitter.png" alt="">
                    <img class="socialImg" src="/assets/images/youtube.png" alt="">
                    <img class="download" src="/assets/images/app-store.png" alt="">
                    <img class="download" src="/assets/images/google-play.png" alt="">
                </div>
            
            </div>
            <div class="footerSecondSection section">
                <div class="footerSecondSectionContent">
                    <div class="phoneIcon">
                        <img src="/assets/images/telephone.png" alt="">
                    </div>
                    <div class="text">
                        <div class="textContent">
                            <h1>24/7 kontakt centar</h1>
                            <p>Naš kontakt centar dostupan Vam je pozivom na broj +381 11 3202 100.</p>
                        </div>
                       
                    </div>
                </div>
               
            </div>
            <div class="verticalLine"></div>
            <div class="footerThirdSection section">
                <div class="footerThirdSectionContent">
                    <div class="thirdSectionIcon">
                        <img src="/assets/images/chat.png" alt="">
                    </div>
                    <div class="text">
                        <div class="textContent">
                            <h1>Chat uživo</h1>
                            <p>Naši operateri na raspolaganju su Vam i za razgovor uživo putem chata.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
